In [1]:
import sys,os
import time
import pandas as pd
import pickle
import seaborn as sns
import bindome as bd
import matplotlib.pyplot as plt

from tqdm.notebook import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import warnings
warnings.filterwarnings('ignore')

## Scraping

Skip to Analysis section if scraped data is ready.

In [ ]:
base_url = 'https://motifcentral.org/fit/'
DRIVER = webdriver.Firefox # TODO change to Chrome/Firefox/Safari based on local availability

data_keys = [
    'Pearson\'s r2 (k-mer)',
    'Pearson\'s r2 (affinity-binned)',
    'Maximum predicted bin enrichment',
    'Maximum observed bin enrichment',
    'Partial Pearson\'s r2',
    'Predicted partial max bin enrichment',
    'Observed partial max bin enrichment',
    'R2',
    'Enrichment',
    'R2, partial',
    'Enrichment, partial',
    ]

Next cell fills `ids` to use later.

In [ ]:
import re 

try:
    browser = DRIVER()
    browser.get('https://motifcentral.org/home')

    el = WebDriverWait(browser, timeout=10).until(
        EC.text_to_be_present_in_element((By.TAG_NAME, 'body'), 'Complex')
    )

    num_pages = int(re.search('Number of Pages: [0-9]+', browser.page_source).group(0).split(' ')[-1])
    print('num_pages', int(num_pages))
    ids = []
    for page in tqdm(range(num_pages)):
        b1 = browser.find_elements(By.XPATH, '//span[@class = "badge badge-pill badge-success"]')
        b2 = browser.find_elements(By.XPATH, '//span[@class = "badge badge-pill badge-dark"]')
        b3 = browser.find_elements(By.XPATH, '//span[@class = "badge badge-pill badge-light ng-star-inserted"]')
        b4 = browser.find_elements(By.XPATH, '//span[@class = "badge badge-pill badge-primary"]')
        for a, b, c, d in zip(b1, b2, b3, b4):
            val = (d.text, a.text, b.text, int(c.text[1:]))
            print(val)
            ids.append(val)
        
        # click next page
        if page != num_pages - 1: # don't click next page on last page
            button = browser.find_element(By.XPATH, '//button[@aria-label = "Next page"]')
            button.click()
        time.sleep(2)
        if page == 3: 
            break
            
    browser.quit()
    print(f'Collected {len(ids)} ids')
except Exception as e:
    print(e)
    browser.quit()

In [ ]:
with open('probound_ids.pkl', 'wb+') as f:
    pickle.dump(ids, f)

Parse useful values from HTML page for each id

In [ ]:
from tqdm import tqdm
browser = DRIVER() 

# id_results = dict() # (int, dict) dict
print(f'Total collected: {len(id_results)}')
for x, y, id in tqdm(ids):
    if id in id_results.keys():
        continue
    try:
        browser.get(base_url + str(id))

        el = WebDriverWait(browser, timeout=20).until(
            EC.text_to_be_present_in_element((By.ID, 'selexKMerPrediction'), 'Pearson')
        )

        rows = browser.find_elements(By.CLASS_NAME, "row")

        # collect rows containing the lines from data_keys
        result_rows = set()
        for key in data_keys:
            for r in rows:
                if key in r.text and '_' not in r.text: 
                    if key == 'Predicted partial max bin enrichment':
                        # hacky fix because colon is missing from webpage
                        idx = r.text.index('nt') + 2
                        result_rows.add(r.text[:idx] + ':' + r.text[idx:])
                    else:
                        result_rows.add(r.text)

        results = dict() # (str, str) dict
        for row in result_rows:
            k, v = row.split(':')
            results[k] = v.strip()

        id_results[id] = results
        time.sleep(2)

        with open('../probound_id_results.pkl', 'wb') as f:
            pickle.dump(id_results, f)
    except Exception as e:
        print(e)
        browser.quit()
print(f'Total collected: {len(id_results)}')

## Analysis

In [2]:
bd.constants.ANNOTATIONS_DIRECTORY = '/lustre/groups/ml01/datasets/annotations'
SCRAPE_RESULTS_DIR = '/home/icb/ege.erdogan'
MUBIND_RESULTS_DIR = '/home/icb/ege.erdogan/mubind-pipeline/OUTPUTS/23-01-09_151632/snakemake'

Next cell loads the scraped data and defines some simple helper methods. No need to modify data-loading code unless scraping method changes.

In [3]:
with open(f'{SCRAPE_RESULTS_DIR}/probound_ids.pkl', 'rb+') as f:
    ids = pd.DataFrame(pickle.load(f), columns=['tf', 'study', 'library', 'id'])
    print(ids.info())

cols = [
    'id', # the rest is sorted alphabetically
    'enrichment',
    'enr_partial',
    'max_obs_bin_enr',
    'max_pred_bin_enr',
    'obs_part_max_bin_enr',
    'part_pearson_r2',
    'pearson_r2_affinity',
    'pearson_r2_kmer',
    'pred_part_max_bin_enr',
    'r2',
    'r2_partial'
]
    
with open(f'{SCRAPE_RESULTS_DIR}/probound_id_results.pkl', 'rb+') as f:
    id_results = pickle.load(f)
    # since we know the first item contains all common keys
    valid_keys = list(id_results.values())[0].keys()
    
    # remove keys not present in all values from id_results and sort remaining ones
    for k1, v1 in id_results.items():
        del_keys = [k2 for k2 in v1.keys() if k2 not in valid_keys]
        for k in del_keys:
            del v1[k]
        id_results[k1] = sorted(v1.items())
    
    # we have a dict with ids as keys; convert it to list of lists with ids as the first elements for each item
    as_tuple_list = [[k] + [x[1] for x in v] for k, v in id_results.items()]
    pb_results = pd.DataFrame(as_tuple_list, columns=cols)
    print(pb_results.info())
    
assert len(ids) == len(pb_results)


def tfs_in_study(study):
    return ids[ids['study'].str.contains(study)]['tf']


def id_results(id):
    return pb_results[pb_results['id'] == int(id)]


def mubind_tf_results(tf, dataset='SELEX', sep=','):
    path = f'{MUBIND_RESULTS_DIR}/{tf}/{dataset}/fit_model/metrics.tsv'
    return pd.read_csv(path, sep=sep)


def pb_tf_results(tf):
    tf_ids = ids[ids['tf'] == tf]['id']
    return pb_results[pb_results['id'].isin(tf_ids)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tf       872 non-null    object
 1   study    872 non-null    object
 2   library  872 non-null    object
 3   id       872 non-null    int64
dtypes: int64(1), object(3)
memory usage: 27.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     872 non-null    int64
 1   enrichment             872 non-null    object
 2   enr_partial            872 non-null    object
 3   max_obs_bin_enr        872 non-null    object
 4   max_pred_bin_enr       872 non-null    object
 5   obs_part_max_bin_enr   872 non-null    object
 6   part_pearson_r2        872 non-null    object
 7   pearson_r2_affinity    872 non-null    object
 8   pearson_r2_kmer        872 non-null    object
 9   pred_part_max_bin_enr  872 non-null    object
 10  r2                     872 non-null    object
 11  r2_partial             872 non-null    object
dtypes: int64(1), object(11)
memory usage: 81.9+ KB
None

In [5]:
pb_results.head()

,id,enrichment,enr_partial,max_obs_bin_enr,max_pred_bin_enr,obs_part_max_bin_enr,part_pearson_r2,pearson_r2_affinity,pearson_r2_kmer,pred_part_max_bin_enr,r2,r2_partial
0,15412,8.00,"8.26, 4.76, 5.78",20.57,16.60,"21.40, 9.79, 16.05","0.99, 0.96, 0.98",0.99,0.73,"16.75, 11.00, 14.61",-0.00,"0.90, 0.92, -0.00"
1,11232,2.00,"2.61, 2.27, 2.35",8.32,9.89,"14.77, 5.76","0.97, 0.94",0.99,0.50,"13.79, 6.28",0.97,"0.97, 0.93"
2,16273,35.00,"38.26, 46.63, 35.50, 3.25",11.69,12.80,"81.47, 78.61, 68.65, 5.87","0.97, 0.99, 0.99, 0.87",1.00,0.81,"143.58, 121.44, 31.27, 4.95",0.98,"0.79, 0.93, 0.98, 0.77"
3,16388,40.00,"40.46, 3.72, 2.29",54.99,46.98,"76.73, 47.90, 25.55","0.99, 0.99, 0.94",0.99,0.75,"94.89, 71.81, 8.99",0.98,"0.98, 0.98, 0.96"
4,15421,2.00,"2.82, 2.92, 2.71",13.74,12.61,"12.85, 12.86, 10.28","0.97, 0.98, 0.98",0.99,0.60,"14.24, 7.68, 8.38",0.98,"0.98, 0.98, 0.98"

In [6]:
# load datasets from bindome
bd_data = bd.bindome.datasets.SELEX.get_data()
bd_data.head()

cardiac_complexes
# filenames 22
(22, 2)
PRJEB3289
# filenames 2731
(2731, 2)
PRJEB9797
# filenames 5881
(5881, 2)
simulated
# filenames 40
(40, 2)
PRJEB14744
# filenames 487
(487, 2)
PRJEB20112
# filenames 787
(787, 2)

,filename,library,batch,cycle,tf.name,accession,path
0,GATA4_2_R46777.txt.gz,R46777,R46777,R46777,GATA4,cardiac_complexes,/lustre/groups/ml01/datasets/annotations/selex...
1,NKX2-5_1_R46777.txt.gz,R46777,R46777,R46777,NKX2-5,cardiac_complexes,/lustre/groups/ml01/datasets/annotations/selex...
2,GATA4_1_R46777.txt.gz,R46777,R46777,R46777,GATA4,cardiac_complexes,/lustre/groups/ml01/datasets/annotations/selex...
3,GATA4_3_R46777.txt.gz,R46777,R46777,R46777,GATA4,cardiac_complexes,/lustre/groups/ml01/datasets/annotations/selex...
4,TBX5_1_R46999.txt.gz,R46999,R46999,R46999,TBX5,cardiac_complexes,/lustre/groups/ml01/datasets/annotations/selex...

In [7]:
print(f'Total study counts in probound')
ids['study'].value_counts()

Total study counts in probound

Yin2017                                                   309
Nitta2015                                                 181
Yang2017                                                  174
Jolma2013                                                  76
Rodriguez2017                                              41
Isakova2017                                                28
Jolma2013,Yang2017,Yin2017                                 25
Slattery2011                                               12
Jolma2013,Isakova2017,Yang2017,Yin2017                      7
Jolma2013,Isakova2017,Yang2017                              4
Kribelbauer2017                                             3
Yang2017,Yin2017                                            2
Jolma2013,Yang2017                                          2
Jolma2013,Rodriguez2017,Yang2017,Yin2017                    2
Rodriguez2017,Yin2017                                       2
Jolma2013,Isakova2017                                       1
Nitta2015,Slattery2011                                      1
Jolma2013,Isakova2017,Kribelbauer2017,Yang2017,Yin2017      1
Jolma2013,Yin2017                                           1
Name: study, dtype: int64

In [11]:
# study counts per tf
print('Study counts in probound with tf matches in bindome')
tf_matches = ids[ids['tf'].isin(bd_data['tf.name'].unique())]
study_tf_matches = tf_matches[tf_matches['study'].str.contains('Jolma')]
study_tf_matches.info()

Study counts in probound with tf matches in bindome
<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 7 to 853
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tf       96 non-null     object
 1   study    96 non-null     object
 2   library  96 non-null     object
 3   id       96 non-null     int64
dtypes: int64(1), object(3)
memory usage: 3.8+ KB

In [14]:
ids[ids['study'].str.contains('Jolma2013')]

,tf,study,library,id
2,AC020909.1,Jolma2013,SPIB_ESAK_TGTCTA20NTCG,16273
7,ALX3,Jolma2013,ALX3_ESAE_TGCAAG20NGA,11394
16,Arx,Jolma2013,Arx_ESAC_TCGCAT20NACT,13720
58,BHLHA15,"Jolma2013,Yang2017,Yin2017","BHLHA15_ESY_TCCGTG20NCG, ...",19100
60,BHLHE23,Jolma2013,BHLHE23_ESY_TATATC20NCG,15309
...,...,...,...,...
814,YY1,"Jolma2013,Isakova2017,Yang2017,Yin2017","YY1_r1, YY1_ESAC_TCCGGC20...",18864
826,ZBTB7C,Jolma2013,ZBTB7C_ESAI_TCGCCA40NCCT,16255
832,Zfp740,Jolma2013,Zfp740_ESZ_TCAACC20NCG,11523
835,ZIC3,"Jolma2013,Yang2017,Yin2017",ZIC3_FL_KZ_TGTAGA40NTGT-u...,19052
853,ZNF524,Jolma2013,ZNF524_ESAI_TCTATG40NTAG,12321

In [15]:
tf = 'ALX1'

In [16]:
mubind_tf_results(tf)

,Unnamed: 0,tf_name,r0,library,counts_path,n_sample_parm,batch_size,learning_rate,n_epochs,n_kernels,best_loss,r2_counts,r2_foldchange,r2_enr,r2_fc,pearson_foldchange,running_time
0,0,ALX1,ZeroCycle_TAAAGC20NCG_0_0,TAAAGC20NCG,/home/icb/ege.erdogan/mubind-pipeline/OUTPUTS/...,10000,512,0.01,200,2,0.481827,0.423626,-0.415699,-0.842360,0.000003,0.001846,2212.426034
1,1,ALX1,ZeroCycle_ES0_TAAAGC20NCG_0,TAAAGC20NCG,/home/icb/ege.erdogan/mubind-pipeline/OUTPUTS/...,10000,512,0.01,200,2,0.477618,0.388228,0.006905,-0.446730,0.126410,0.355542,2139.057113
2,2,ALX1,ZeroCycle_TACCAA40NTTA_0_0,TACCAA40NTTA,/home/icb/ege.erdogan/mubind-pipeline/OUTPUTS/...,10000,512,0.01,200,2,0.242361,0.837459,0.677272,0.772351,0.681839,0.825735,2252.753418
3,3,ALX1,ZeroCycle_TCCTTG40NGGT_0_0,TCCTTG40NGGT,/home/icb/ege.erdogan/mubind-pipeline/OUTPUTS/...,10000,512,0.01,200,2,0.448183,0.457465,0.247399,0.155929,0.361675,0.601394,3633.959925

In [17]:
pb_tf_results('ALX1')

,id,enrichment,enr_partial,max_obs_bin_enr,max_pred_bin_enr,obs_part_max_bin_enr,part_pearson_r2,pearson_r2_affinity,pearson_r2_kmer,pred_part_max_bin_enr,r2,r2_partial
6,17976,78.00,"25.21, 78.69, 11.74, 2.49",14.71,14.35,"143.12, 28.19, 61.62, 31.89","0.98, 0.99, 0.99, 0.95",1.00,0.89,"117.31, 26.39, 53.79, 26.02",0.95,"0.80, 0.96, 0.92, 0.95"